.card {
	border: var(--border);
	border-radius: var(--border-radius);
	background: white;

	--padding: 1.1rem;
	padding: var(--padding);
	margin: 10px;
	width: 18rem;
	height: 9rem;

	/* set the app-tag to the bottom of the card */
	position: relative;
}

h1 {
	font-size: 1.2rem;
	margin: 0;
}

p {
	overflow: hidden;
	text-overflow: ellipsis;
	/* max 2 lines before the ... */
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;

	font-size: 0.8rem;
	color: var(--gray-text);
}

.tags {
	display: flex;
	gap: 0.5rem;

	overflow: scroll;
	scrollbar-width: none;
	flex-wrap: nowrap;
	width: calc(100% - 2 * var(--padding));

	/* place to the bottom of the card */
	position: absolute;
	bottom: var(--padding);
}
.tags::-webkit-scrollbar {
	display: none;
}
