@if (entry) {
	<app-back-button/>
	<main>
		<bubble>
			<div class="main">
				<h1>{{ entry.word }}</h1>
				<div class="tags">
					@for (tag of entry.tags; track tag.name) {
						<app-tag [tag]="tag" [icon]="true"/>
					}
				</div>
				<div>
					<span class="listed">Définition</span>
					<bubble background="var(--markdown-background)">
						<div class="bubble" [innerHTML]="entry.definition.toHtml()"></div>
					</bubble>
				</div>
				<div>
					<span class="listed">Première utilisation</span>
					<bubble background="var(--gradient-reverse)">
						<div class="bubble">
							📅 {{ entry.firstSeen!.toLocaleDateString('fr-FR', {
								day: 'numeric',
								month: 'long',
								year: 'numeric'
							}) }}
						</div>
					</bubble>
				</div>
			</div>
		</bubble>
	</main>
}
