:root {
	---gradient-start: #FAF0F5;
	---gradient-end: #FCF7DE;
	--gray-text: #666666;
	--text-color: #000000;
	--markdown-highlight: #CCCCCC;
	--markdown-background: #F7F7F7;
	--background-color: #FFFFFF;
	--home-button-gradient: linear-gradient(90deg, #E64296, #F79C00);
	--found-expression-color: red;
	--link-color: blue;

	@media (prefers-color-scheme: dark) {
		/* Dark Theme Overrides */
		---gradient-start: #1F2937;
		---gradient-end: #374151;
		--gray-text: #A1A1AA;
		--text-color: #F4F4F5;
		--markdown-highlight: #374151;
		--markdown-background: #1F2937;
		--background-color: #111827;
		--found-expression-color: #EF4444;
		--link-color: darkturquoise;
	}
}

html, body { height: 99%; }
:root {
	--gradient: linear-gradient(90deg, var(---gradient-start), var(---gradient-end));
	--gradient-reverse: linear-gradient(90deg, var(---gradient-end), var(---gradient-start));
}

body {
	background: var(--gradient);
	color: var(--text-color);
}

a {
	color: var(--link-color);
}

.markdown code {
	font-family: monospace;
	font-size: 1.2em;
	background-color: var(--markdown-highlight);
}
.markdown pre {
	font-family: monospace;
	font-size: 1.2em;
	background-color: var(--markdown-highlight);
	padding: 10px;
	overflow-x: auto;
}
.markdown blockquote {
	border-left: 5px solid var(--markdown-highlight);
	padding-left: 10px;
	margin-left: 10px;
}
.markdown img {
	max-width: 100%;
}
