:root {
	---gradient-start: #FAF0F5;
	---gradient-end: #FCF7DE;
	--gray-text: #666666;
	--text-color: #000000;
	--markdown-highlight: #CCCCCC;
	--markdown-background: #F7F7F7;
	--background-color: #FFFFFF;
	--home-button-gradient: linear-gradient(90deg, #E64296, #F79C00);
	--found-expression-color: red;

	@media (prefers-color-scheme: dark) {
		/* Dark Theme Overrides */
	}
}

html, body { height: 99%; }
:root {
	--gradient: linear-gradient(90deg, var(---gradient-start), var(---gradient-end));
	--gradient-reverse: linear-gradient(90deg, var(---gradient-end), var(---gradient-start));
}

body {
	background: var(--gradient);
	color: var(--text-color);
}

code.markdown {
	font-family: monospace;
	font-size: 1.2em;
	background-color: var(--markdown-highlight);
}
pre.markdown {
	font-family: monospace;
	font-size: 1.2em;
	background-color: var(--markdown-highlight);
	padding: 10px;
	overflow-x: auto;
}
blockquote.markdown {
	border-left: 5px solid var(--markdown-highlight);
	padding-left: 10px;
	margin-left: 10px;
}
