name: Build and Deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:

# Allow write permission to GITHUB_TOKEN to commit to deploy branch.
permissions:
  contents: write

jobs:
  test-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # Test csv files
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Run test.py
        run: python test-db.py public/db.csv public/db-prod.csv
      # Deploy production
      - name: Change test-db to production-db
        run: |
          rm public/db.csv
          mv public/db-prod.csv public/db.csv
      - name: replace image links
        run: |
          sed -i 's|!\(\[[^]]*\]\)(/assets/\([^)]*\))|!\1(/dgm-lexicon/assets/\2)|g' public/db.csv
      # Build angular
      - name: Install dependencies
        run: |
          npm install -g pnpm
          pnpm install --frozen-lockfile
      - name: Build project
        run: |
          pnpm build --configuration=production --base-href=/dgm-lexicon/
          cp dist/dgm-lexicon/browser/index.html dist/dgm-lexicon/browser/404.html
      # Deploy on gh-pages branch
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist/dgm-lexicon/browser
          publish_branch: gh-pages
          user_name: github-actions[bot]
          user_email: github-actions[bot]@users.noreply.github.com
